/**
Theme Name: Astra Child
Author: Brainstorm Force
Author URI: http://wpastra.com/about/
Description: Astra is the fastest, fully customizable & beautiful theme suitable for blogs, personal portfolios and business websites. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with schema.org code integrated so search engines will love your site. Astra offers plenty of sidebar options and widget areas giving you a full control for customizations. Furthermore, we have included special features and templates so feel free to choose any of your favorite page builder plugin to create pages flexibly. Some of the other features: # WooCommerce Ready # Responsive # Compatible with major plugins # Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and beautiful theme!
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child
Template: astra
*/
.home-content-1st-row .fl-slide-content-wrap{
	width:100%
}
div#mm-product-details {
    margin: 60px 0;
}
.home-content-1st-row .fl-bg-slideshow div{
	width:100%!important;
}
.home-content-1st-row .fl-slide .fl-slide-title{
	margin:0px!important
}
.open_sidebar a span, .close_sidebar_button a span {
    text-transform: uppercase!important;
}
.facetwp-per-page select {
    min-width: 120px!important;
}
a.fl-button.plp_box_btn, .product-grid.btn-grey>.fl-button {
    max-width: 200px;
    width: 100%;
    height: 45px;
    border-radius: 50px;
    background-color: #ce2b2b!important;
    border: 0px;
    color: #fff!important;
    margin: 0 auto!important;
	font-size: 16px;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
padding-top: 14px;
}
a.fl-button.plp_box_btn:hover, .product-grid.btn-grey>.fl-button:hover {
    max-width: 200px;
    width: 100%;
    height: 45px;
    border-radius: 50px;
    background-color: #000000!important;
    border: 0px; 
	font-size: 16px;
    text-transform: uppercase;
    color: #ffffff!important;
    font-family: inherit;
    font-weight: 500;
}
.uabb-gf-style .gform_wrapper .gform_footer input[type=submit] {
	max-width: 150px!important;
	width: 100%;
    height: 45px;
    border-radius: 50px;
    background-color: #ce2b2b!important;
    border: 0px;
    color: #fff!important;    
	font-size: 16px;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
}
.rmp-menu-additional-content a {
    color: #fff;
    padding: 10px;
}
.rmp-menu-additional-content i.fa.fa-phone {
    transform: rotate(90deg);
}
/* Font size 14 */
.product-grid.btn-grey .product-variations1>h5, .product-grid.btn-grey>h4>span, .product-grid .fl-button-text, .floorte-color, .featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button, .fl-photo-caption {
    font-size: 14px!important;
}
.uabb-gf-style .gform_wrapper .gform_footer input[type=submit]:hover {
	max-width: 150px!important;
	width: 100%;
    height: 45px;
    border-radius: 50px;
    background-color: #9b2020!important;
    border: 0px;
    color: #fff!important;
    margin: 0 auto!important;
	font-size: 16px;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
}
.facet_filters .facet-wrap>strong {
    padding-bottom: 3px;
    border-bottom: 2px solid #ce2b2b;
    color: #ce2b2b;
}
.button-wrapper a.button.alt, .product-detail-layout-6 .dual-button a{
    background-color: #ce2b2b;
    border: 0px;
    color: #fff;
	font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: inherit;
    font-weight: 500;
	display:flex;
	margin:5px!important
}
.button-wrapper a.button.alt:hover, .product-detail-layout-6 .dual-button a:hover{
    background-color: #000000;
    border: 0px;
    color: #fff;    
	font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: inherit;
    font-weight: 500;
}

  .locationInfo .store-opening-hrs li{
    text-align: left;
    position: relative;
}
.locationInfo .store-opening-hrs li span{
    left: 120px;
    position: absolute;
}
.locationInfo .store-opening-hrs, .locationInfo .storename {
   list-style: none!important;
}
.locationInfo .store-opening-hrs li{
   list-style: none!important;
}

.mob-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  
}
.mob-wrap .item{
    display: flex;
}
.mob-wrap .name {
    margin-right: 10px;
}
.locationsinfoTo ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.locationsinfoTo .address a {
    color: #fff;
}
.locationsinfoTo .address a p{
    margin: 0px;
}
.locationsinfoTo  .uabb-infobox-text > p{
    padding: 0px;
    margin: 0px;
}
.locationsinfoTo .mob-wrap {
    align-items: center;
}
.locationsinfoTo .mob-wrap a{
    color: #fff;
}
.product-detail-layout-6 .slide.selected-slide:after {
    height: 28px!important;
    width: 28px!important;
    background-repeat: no-repeat!important;
    position: absolute!important;
    top: 28px!important;
    left: 26px;
    background-size: cover;
}
.container .row .product-detail-layout-6{
	padding-top: 0px!important;
}
.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    left: 0px;
}
.custom_searchHeader i {
    cursor: pointer;
}
.flooring-coupon-heading h1.googlekeyword {
    font-size: 50px;
}
/* custom css start here */
.flooringRowCta .uabb-image-carousel-caption {
    background-color: transparent;
    font-size: 22px!important;
    line-height: 1em;
    color: #fff;
    font-style: italic;
    margin-bottom: 0px;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-overflow: inherit;
    white-space: inherit;
    width: 100%;
}
.flooringRowCta .uabb-image-carousel-caption a{
     display: block;
     background-color: #ce2b2b;  
     color: #fff;
     font-weight: 300;
     text-transform: uppercase;
     padding: 20px;
     max-width: 200px;
     width: 100%;
     font-size: 16px;   
    letter-spacing: 1px; 
     margin: 0 auto; 
     margin-top: 10px;        
}
.flooringRowCta .uabb-image-carousel-caption a:hover{
    background-color: #000;  
}
.flooringRowCta .uabb-image-carousel-caption a:after{ 
    content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 22px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-left: 10px;
}
.flooringRowCta .uabb-image-carousel-item {
    position: relative;
    padding-bottom: 40px;
}
.gform_wrapper form .gfield .gfield_time_ampm > select {
    padding: 15px 5px!important;
    height: auto;
}
.gform_legacy_markup_wrapper .gfield_time_hour i {
    margin-top: 28px !important;
    margin-left: 4px;
}
.ui-datepicker-title {
    color: #000 !important;
}
.colorAdded .fl-rich-text a{
    color: #ce2b2b !important;
}
.colorAdded .fl-rich-text td, .colorAdded .fl-rich-text th {
    padding: 8px !important;
}
.landingPage-productModule .open_sidebar {
    display: none;
}
body.home .static-breadcrums {
    display: none;
}
.terms-and-condition .fl-rich-text {
    font-family: Poppins, sans-serif;
    font-weight: 400;
}
.flooring-global-row h5.uabb-heading .uabb-heading-text:hover {
    background: #000;
}
.terms-and-condition ol.ol {
    list-style: none;
    margin-bottom: 10px;
}
li.contact-us.menu-item {
    display: none;
}

/*Filter Select Design*/
.facetwp-selections ul:before {
    content: "Your Selection";
    font-weight: 700;
    font-size: 16px; 
    border-bottom: 2px solid #ce2b2b;
    padding: 0px;
    width: 100%!important;
    position: relative;
    display: block;
    margin-bottom: 5px;
    color: #ce2b2b;
    padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label{
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.facetwp-selections ul li{
    width: 100%;
    display: block;
    margin: 5px 0;
}
.facetwp-selections ul li .facetwp-selection-value{
	font-size: 16px;
    color: #000;
}

.facetwp-selections ul {
    padding-left: 0px;
    margin-bottom: 20px;
	margin-left:0px;
}

.moove-gdpr-button-holder>button.mgbutton {
    background-color: #fff!important;
    color: #333!important;
    border-radius: 30px!important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;
    box-shadow: none !important;
    border: none!important;
  }
  .moove-gdpr-button-holder>button.mgbutton:hover {
    background: #000!important;
    color: #fff!important;
    text-transform: uppercase!important;
    border-color: #333!important;
  }
  #moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
    background-color: #ce2b2b!important;
    border-top: 1px solid #fff;
  }
#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
    color: #fff!important;
    opacity: 0.7;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
    color: #333!important;
  }
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
    background-color: #ce2b2b!important;
    border: 1px solid #000!important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover, 
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
    color: #333!important;
    background-color: #fff!important;
  }
  button.moove-gdpr-infobar-close-btn:hover i {
    color: #333 !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
    background-color: #ce2b2b!important;
    color: #fff!important;  
    border: 0px!important;
    border-radius: 30px!important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;  
  }

  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
    background: #000!important;
    color: #fff!important;
    border: 0px!important;
  }
  
  .moove-gdpr-tab-main-content a:hover {
    color: #ce2b2b!important;
  }
  .ast-separate-container .ast-article-post, 
  .ast-separate-container .ast-article-single,
  body.archive .ast-archive-description{
      padding: 20px!important;
  }
  
  .widget_search .search-form>label{
    width: 100%!important;
  }
  .ast-post-format- .entry-header .entry-meta{
    display: none!important;
  }
/* Custom Css */

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .width-issue-col-content {
        width: 40% !important;
    }
    .width-issue-col-form {
        width: 60% !important;
    }
    .qualitySec h2.uabb-heading span {
        line-height: 50px;
    }
    .custom_searchModule .uabb-search-form.uabb-search-form-input.uabb-search-form-inline input[type=search] {
        padding-left: 20px;
    }
    .custom_searchModule .uabb-search-form-inline i.fa.fa-search.icon {
        display: none;
    }
    
}
@media screen and (min-width: 1100px) { 
	.landingPage-productModule .fl-rich-text .product-row > div {
		width: 25%;
	}
	.landingPage-productModule .fl-rich-text .product-row>div.col-md-4:nth-child(3n+1) {
		clear: none;
	}
}
@media screen and (max-width:1024px) {

    .global-elements-row h3.uabb-infobox-title {
        font-size: 20px;
    }
    .visualize-box .uabb-infobox {
        padding: 20px;
    }
    header a.uabb-button {
        font-size: 12px !important;
		padding-left:25px !important;
		padding-right:25px !important; 
    }
}

@media screen and (max-width:992px) {
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
		padding:0px;
	}
    /* Slider height issue on mobile open */
.fl-content-slider .fl-slide-bg-photo {
    position: absolute!important;
    min-height: 500px!important;
}
.fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
    min-height: 500px;
}
#rmp-menu-wrap-1268431 .rmp-submenu .rmp-menu-item-link{
    height: auto!important;
}
.fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px!important;
    text-align: center!important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.fl-slide-mobile-photo > img{
    padding: 50px;
    max-height: 500px!important;
    width: auto;
    margin: 0 auto;
}
.fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
}
.fl-content-slider .fl-slide-bg-link{
    z-index: 2;
}
/* Slider height issue on mobile closed */
	.Top-Bar ul.menu {
        display: flex;
        justify-content: center;
    }
    .flooring-global-row .fl-col-content.fl-node-content {
        justify-content: center;
    }
    .mob-wrap .item {
        margin: 0 auto;
    }
    .locationInfo .store-opening-hrs li span {
        left: unset;
        position: relative;
    }
    .locationInfo .store-opening-hrs, .locationInfo .storename{
        margin: 0;
    }
    .fl-builder-content .locationpage-btn .fl-button-left {
        text-align: center;
    }
    .featured-products .featured-product-list .featured-product-item {
        width: 33.33%;
    }
    .featured-products .featured-product-list .featured-product-item .prod-img-wrap {
        justify-content: center;
    }
    .featured-products .featured-product-list .featured-product-item  .product-info {
        text-align: center;
    }    
    .header-banner h1.uabb-heading .uabb-heading-text {
        padding-bottom: 0;
        display: block;
    }
    .header-banner h2.uabb-heading .uabb-heading-text{
        display: inline-block;
    }
    /* .header-banner h2.uabb-heading{
        line-height: unset !important;
    }
    h1, h2{
        font-size: 50px !important;
        line-height: 55px !important;
    } */
    .fl-col.footer-loc-col, .copayright-main .fl-col {
        max-width: 400px !important;
    }
    button#responsive-menu-button {
        top: 25px !important;
    }
    li.contact-us.menu-item {
        display: block;
    }
	
	.col-md-5.col-sm-12.product-box > .row > div {
        margin: 0 auto!important;
        text-align: center;
    }
	.DualRoomvoCenter .uabb-dual-button {
    justify-content: center;
}
}

@media screen and (max-width:767px) {
    .info-photo-content-row .infobox-photo-left .uabb-infobox-content,  .info-photo-content-row .infobox-photo-right .uabb-infobox-content {
        width: calc(100% - 0px) !important;
        text-align: center;
    }
    .info-photo-content-row .infobox-left .uabb-imgicon-wrap{
        margin-right: 0 !important;
        margin-bottom: 20px !important;
    }
    .info-photo-content-row .infobox-right .uabb-imgicon-wrap {
        margin-left: 0 !important;
        margin-top: 20px !important;
    }
    .info-photo-content-row .uabb-infobox-left-right-wrap {
        text-align: center;
    }
    .featured-products .featured-product-list .featured-product-item {
        width: 50%;
    }
    div#responsive-menu-additional-content a {
        color: #fff;
    }
}


@media (max-width:500px) {
    #rmp_menu_trigger-1268431{
        top: 38px!important;
    }
    .Top-Bar ul.menu {
        display: block;
        justify-content: unset;
    }
    .featured-products .featured-product-list .featured-product-item {
        width: 100%;
    }
    #responsive-menu-container {
        width: 85% !important;
    }
    .fl-col.footer-loc-col {
        max-width: 100% !important;
        margin: 0 15px;
    }
    .uabb-gf-style .gform_wrapper .gform_footer input[type=submit]{
        line-height: 18px !important;
    }
    button#responsive-menu-button{
        top:80px !important;
    }
}



 
 @media (max-width:820px){
.facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {  clear: left!important;}
.facetwp-template .product-grid .product-row>.col-md-4 { width: 33.33%; float: left; clear: none!important;}

a.fl-button.plp_box_btn, .product-grid.btn-grey>.fl-button {height: auto !important; } 

.facetwp-per-page select {
    padding: 5px 26px !important; 
}

}

@media (max-width:600px){
	
.facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {  clear: left!important;}
.facetwp-template .product-grid .product-row>.col-md-4 { width: 100%; float: left; clear: none!important;}	
	
}



@media(max-width: 820px){
	
	.mob-wrap {text-align: center; display: inline-block;} 
	.store_hourse .uabb-subheading.uabb-text-editor { width: 35%; margin: 0 auto;}

}


@media(max-width: 600px){

	.store_hourse .uabb-subheading.uabb-text-editor { width: 80%; margin: 0 auto;}

}

.rmp-menu-additional-content ul.storename{ margin:0px; padding:0px;}
.rmp-menu-additional-content ul.storename li{ margin:0px; padding:0px; list-style-type:none;}

/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
    
    
	/* Facet Filter CSS	- iPad */
	.facet_filters .close_bar {
        display:block;
    }
    #product-list-top-filters .fl-col-group .fl-col {
        width: 100%!important;
        text-align: center
    }
    #product-list-top-filters .fl-heading,.facetwp-counts,.facetwp-pager,.facetwp-per-page,.open_sidebar {
        text-align: center!important
    }
    .facetwp-per-page-select {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
	.open_sidebar a {
		float: none!important;
	}
	.facet_filters {
        position:fixed;
        top:0px;
        left:-5px;
        width:80%;
        height:100%;
        overflow:auto;
        background-color:white;
        z-index:10;
        left:-1000px;
        -moz-box-shadow:    5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow:         5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar {
        background-color:#008c8c;
        overflow:hidden;
        width:100%;
        padding:5px;
        display:block;
        margin-bottom:20px;
    }
    .facet_filters .close_bar .close{
        float:right;
        color:white;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    	filter: alpha(opacity=100);
    	opacity: 1;
    }
    .fl-module-rich-text.facet_filters{
        display: none;
    }
    
    .open_sidebar,
    .close_sidebar_button{
        display:block;
    }
    
	.facetwp-pager {
        float: none!important;
        margin-top: 10px
    }
	/* Products List CSS - iPad */
	.facetwp-template .product-grid .product-row>.col-md-4 {
        width:33.33%;
        float: left;
        clear: none!important
    }
    .facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
        clear: left!important
    }
    .product-row>div.col-md-3:nth-child(3n+1) {
        clear: none!important
    }
}
@media only screen and (max-width: 599px) {
	.facetwp-template .product-grid .product-row>.col-md-4{
        width:48%;
        clear: none !important
    }
	.facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
		clear: none !important;
	}
}
@media only screen and (max-width: 480px) {
	.facetwp-template .product-grid .product-row>.col-md-4{
		width:100%;
		clear: both !important
	}
    
}
/* PLP Page Css iPad Air */


